# OS
.DS_Store
Thumbs.db

# IDE
.vs/
.idea/
.vscode/
*.sublime*

# Logs
debug.log

# Node
node_modules/
dist/
dist-js/

# Rust
/target/

# Tauri
/.tauri
src-tauri/gen/

# Android / Gradle
.gradle/
**/.gradle/
**/build/
